.page{
    &_header{
        background-color: $base-color-green-light;
        min-height: 100px;
        display: flex;
        gap: 497px;
        justify-content: center;
        align-items: center;
        
        &__img {
            margin-right: 8px;
        }

        &__contact_wrapper {
            margin-bottom: 35px;
            margin-right: 115px;
        }

        &__name {
            text-decoration: none;
            font-family: "Raleway", "Arial", sans-serif;
            color: $base-color-green-medium;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }

        &__nav_list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            list-style: none;
            padding: 0;
        }

        &__nav_link {
            font-family: $primary-font;
            color: rgba(44, 45, 53, 1);
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            text-decoration: none;

            &:hover {
                color: $base-color-green-dark;
            }

            &:focus {
                color: $base-color-black;
                background-color: $base-color-green-light;
            }

            &:active{
                color: $base-color-green-dark;
            }
        }
        &__nav_link--cart {
            background-image: url('./images/icons/icon-cart.svg');
            background-repeat: no-repeat;
            background-size: 24px 24px;
        }
    }

    &__logo_wrapper {
        display: flex;
        align-items: center;
        width: 143px;
        height: 35px;
    }
}