section.about_us
    img.about_us__img(src="./images/hand.png" width="445" height="361" alt="Рамка картины и рука с кистью")
    .about_us__info
        h2.about_us__title Наша команда
        p.about_us__text Значимость этих проблем настолько очевидна, что базовый вектор развития позволяет оценить значение экспериментов, поражающих по своей масштабности и грандиозности. Мы вынуждены отталкиваться от того, что консультация с широким активом.
        ul.about_us__painters_list
            li.about_us__painters_item
                img.about_us__painters_photo(width="80" height="80" src="./images/painters/painter-3.png" alt="фото нашей художницы")
            li.about_us__painters_item
                img.about_us__painters_photo(width="80" height="80" src="./images/painters/painter-2.png" alt="фото нашего художника")
            li.about_us__painters_item
                img.about_us__painters_photo(width="80" height="80" src="./images/painters/painter-1.png" alt="фото нашего художника")
