section.filter
    h2.filter__title Репродукции
    ul.filter__list#tabsCountriesButtons
        li.filter__item
            button.button.filter__button.active(type="button") Франция
        li.filter__item
            button.button.filter__button(type="button") Германия
        li.filter__item
            button.button.filter__button(type="button") Англия