section.hero
    img(src="./images/hero-image.png", 
        width="540" height="621",
        alt="Картина известного художника",
        title="Какая-то птица"
        )
    .hero__info_wrapper
        h1.hero__info_title Реплики кaртин <br>от 
            span.hero__info_title--green Ink.House
        p.hero__info_text Высокое качество отрисовки на плотной бумаге или льняном холсте. Редкие произведения, доступные цены.
        button.button.hero__info_button(type="button") Продукция