section.page_footer__contact
    .page_header__contact_wrapper
        a.page_footer__link(href="#") 
            img.page_header__img(src="./images/icons/logo.svg" alt="Логотип Инк Хаус")
        a.page_footer__name(href="#")
            span Ink.House
    section.page_footer__phone
        h3.visually-hidden Телефон
        a.page_footer__phone-number(href="tel:79995435454") 7 (999) 543-54-54
        span.page_footer__phone-title Мастерская