.page_footer__social__wrapper
    ul.page_footer__social_list
        li.page_footer__social_item
            a(href="#" target="_blank")
                span facebook
        li.page_footer__social_item
            a(href="#" target="_blank")
                span instagram
        li.page_footer__social_item
            a(href="#" target="_blank")
                span youtube
    span.page_footer__info-name Ink.House ®
    span.page_footer__info-name All rights reserved
                                  