.page_footer__nav__wrapper
    ul.page_footer__nav_list
        li.page_footer__nav_item
            h3.page_footer__nav_title Репродукции
        li.page_footer__nav_item
            a.page_footer__nav_link(href="#") Франция
        li.page_footer__nav_item
            a.page_footer__nav_link(href="#") Германия
        li.page_footer__nav_item
            a.page_footer__nav_link(href="#") Англия
    ul.page_footer__nav_list
        li.page_footer__nav_item
            h3.page_footer__nav_title Новинки
        li.page_footer__nav_item
            a.page_footer__nav_link(href="#") 2021
        li.page_footer__nav_item
            a.page_footer__nav_link(href="#") 2020
    ul.page_footer__nav_list
        li.page_footer__nav_item
            h3.page_footer__nav_title О нас
        li.page_footer__nav_item
            a.page_footer__nav_link(href="#") Художники
        li.page_footer__nav_item
            a.page_footer__nav_link(href="#") Менеджеры



