section.promo
    .promo__wrapper
        .promo__wrapper__title
            img.promo__star(src="./images/icons/logo-big.png" width="80" height="80"
                        alt="золотая звезда")
            h2.promo__title Новая коллекция французских авторов
        p.promo__text Сложно сказать, почему акционеры крупнейших компаний призывают нас к новым свершениям, которые, в свою очередь, должны быть заблокированы в рамках своих собственных рациональных ограничений.<br> <br>Принимая во внимание показатели успешности, граница обучения кадров предопределяет высокую востребованность направлений прогрессивного развития.
        a.promo__link(href="#") Ознакомиться