html {
    height: 100%;

    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/Raleway-Medium.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: bold;
    font-weight: 700;
    src: url("./fonts/Raleway-Bold.woff2") format("woff2");
    font-display: swap;
}

/* body {
    margin: 0 auto;
    min-height: 100%;
}

.page_body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

main {
    flex-grow: 1;
}

.page_header__nav_list,
.filter__list,
.catalog__main-list,
.catalog__list,
.about_us__painters_list,
.page_footer__nav_list,
.page_footer__social_list,
.page_footer__social_list {
    list-style: none;
    padding: 0;
}

.page_header {
    background-color: rgba(225, 237, 230, 1);
    min-height: 100px;
    display: flex;
    gap: 497px;
    justify-content: center;
    align-items: center;   
}

.page_header__logo_wrapper {
    display: flex;
    align-items: center;
    width: 143px;
    height: 35px;
}

.page_header__img {
    margin-right: 8px;
}

.page_header__name {
    text-decoration: none;
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.page_header__nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.page_header__nav_link {
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(44, 45, 53, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

.page_header__nav_link:hover {
    color: rgba(89, 141, 102, 1);
}

.page_header__nav_link:focus {
    color: rgba(44, 45, 53, 1);
    background-color: rgba(212, 232, 217, 1);
}


.page_header__nav_link:active {
    color:rgba(55, 107, 68, 1);
}


.page_header__nav_link--cart {
    background-image: url('./images/icons/icon-cart.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.hero {
    min-height: 620px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 70px; */
}

.hero__info_wrapper {
    max-width: 540px;
    min-height: 331px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

.hero__info_title {
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(44, 45, 53, 1);
    font-size: 60px;
    font-weight: 500;
    line-height: 66px;
    margin: 0;
    margin-bottom: 20px;

}

.hero__info_title--green {
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(89, 141, 102, 1);
    font-size: 60px;
    font-weight: 500;
    line-height: 66px;
}

.hero__info_text {
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin: 0;
    margin-bottom: 50px;
}

.hero__info_button {
    border: 1px solid rgba(89, 141, 102, 1);
    font-family: "Raleway", "Arial", sans-serif;
    color:rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 21px 60px;
    max-width: 225px;
    min-height: 65px;
    cursor: pointer;
}

.hero__info_button:hover {
    border: none;
    background-color: rgba(89, 141, 102, 1);
    color:rgba(244,246, 245, 1);
}

.hero__info_button:focus {
    border: 1px solid rgba(89, 141, 102, 1);
    background-color: rgba(212, 232, 217, 1);
    color:rgba(89, 141, 102, 1);
}

.hero__info_button:active {
    border: none;
    background-color: rgba(55, 107, 68, 1);
    color:rgba(255, 255, 255, 1);
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    /* padding-left: 54px; */
    margin: 70px 165px 30px;
}

.filter__title {
    display: block;
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(44, 45, 53, 1);
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    margin: 0;
}

.filter__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.filter__button {
    background-color: rgba(212, 232, 217, 1);
    border: none;
    border-radius: 20px;
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(44, 45, 53, 1);
    font-size: 20px;
    font-weight: 500; 
    padding: 10px 20px;
    cursor: pointer;
}

.filter__button:hover {
    color: rgba(244, 246, 245, 1);
    background-color: rgba(89, 141, 102, 1);
    border: none;
}

.filter__button:focus {
    color: rgba(44, 45, 53, 1);
    background-color: rgba(212, 232, 217, 1);
    border: 1px solid rgba(89, 141, 102, 1);
}


.filter__button.active {
    background-color:rgba(55, 107, 68, 1);
    color: rgba(244, 246, 245, 1);
}

.catalog {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;;
}

.catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    justify-items: center;
    margin: 0;
}

.catalog__main-item {
    display: none;
}

.catalog__main-item.active {
    display: block;
}

.catalog__item {
    max-width: 350px;
    max-height: 730px;
    padding: 20px;
    background-color: rgba(225, 237, 230, 1);
}

.catalog__author {
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px; 
}

.catalog__name {
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(44, 45, 53, 1);
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    margin: 0;
    margin-bottom: 8px; 
}

.catalog__info {
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(44, 45, 53, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 0; 
    margin-bottom: 30px; 
}

.catalog__price {
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(89, 141, 102, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin: 0; 
    margin-bottom: 20px; 
}

.catalog__button {
    background-color: rgba(225, 237, 230, 1);
    border: 1px solid rgba(89, 141, 102, 1);
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    padding: 21px 107px;
    cursor: pointer;
}

.catalog__button:hover {
    color: rgba(244, 246, 245, 1);
    background-color: rgba(89, 141, 102, 1);
    border: none;
}

.catalog__button:focus {
    color: rgba(44, 45, 53, 1);
    background-color: rgba(212, 232, 217, 1);
    border: 1px solid rgba(89, 141, 102, 1);
}


.promo {
    background-color: rgba(89, 141, 102, 1);
    background-image: url('./images/promo-bg.png');
    /* background-image: url('./images/promo-bg-1.png'); */
    /* background-image: url('./images/promo-bg-2.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-left: 165px;
    padding-bottom: 70px;
}

.promo__wrapper {
    max-width: 540px;
}

.promo__wrapper__title {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.promo__title {
    display: block;
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(244, 246, 245, 1);
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
}

.promo__text {
    display: block;
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(244, 246, 245, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    max-width: 540px;
    min-height: 209px;
    margin: 0;
    margin-bottom: 60px;
}

.promo__link {
    display: inline-block;
    text-decoration: none;
    background-color: rgba(238, 219, 109, 1);
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(44, 45, 53, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 21px 60px;
}

.promo__link:hover {
    color: rgba(44, 45, 53, 1);
    background-color: rgba(250, 235, 151, 1);
    border: none;
}

.promo__link:focus {
    color: rgba(44, 45, 53, 1);
    background-color: rgba(250, 235, 151, 1);
    border: 1px solid rgba(163, 131, 20, 1);
}


.promo__link:active {
    background-color:rgba(217, 185, 73, 1);
    color: rgba(44, 45, 53, 1);
    border: none;
}

.about_us {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 70px 165px;
}

.about_us__img {
    display: block;
    /* transform: rotate(-90deg); */
}

.about_us__info {
    display: block;
    max-width: 635px;

}

.about_us__title {
    display: block;
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(44, 45, 53, 1);
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    margin: 0;
    margin-bottom: 20px;
}

.about_us__text {
    display: block;
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(44, 45, 53, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin: 0;
    margin-bottom: 20px;
    min-height: 108px;
}

.about_us__painters_list {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin: 0;
}

.page_footer {
    background-color: rgba(225, 237, 230, 1);
    min-width: 168px;
    padding: 23px 165px;
    display: flex;

}

.page_footer__name {
    text-decoration: none;
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.page_header__contact_wrapper {
    margin-bottom: 35px;
    margin-right: 115px;
}

.page_footer__phone {
    display: flex;
    flex-direction: column;
}

.page_footer__phone-number {
    text-decoration: none;
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(44, 45, 53, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
}

.page_footer__phone-title {
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

.page_footer__nav__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-right: 248px;
}

.page_footer__nav_list {
    display: block;
    margin: 0;
}

.page_footer__nav_title {
    margin: 0;
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(44, 45, 53, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.page_footer__nav_item:not(:last-child) {
    margin-bottom: 6px;
}

.page_footer__nav_link {
    margin: 0;
    text-decoration: none;
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.page_footer__social_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
    margin-bottom: 10px;
}

.page_footer__info-name {
    display: block;
    margin-bottom: 6px;
}

.page_footer__info-name,
.page_footer__info {
    font-family: "Raleway", "Arial", sans-serif;
    color: rgba(134, 146, 139, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}