section.page_footer__contact
    .page_header__contact_wrapper
        a.page_footer__link(href="#") 
            img.page_header__img(src="./images/icons/logo.svg" alt="Логотип Инк Хаус")
        a.page_footer__name(href="#")
            span Ink.House
    section.page_footer__phone
        h3.visually-hidden Телефон
        a.page_footer__phone-number(href="tel:79995435454") 7 (999) 543-54-54
        span.page_footer__phone-title Мастерская
section.page_footer__nav
    .page_footer__nav__wrapper
        ul.page_footer__nav_list
            li.page_footer__nav_item
                h3.page_footer__nav_title Репродукции
            li.page_footer__nav_item
                a.page_footer__nav_link(href="#") Франция
            li.page_footer__nav_item
                a.page_footer__nav_link(href="#") Германия
            li.page_footer__nav_item
                a.page_footer__nav_link(href="#") Англия
        ul.page_footer__nav_list
            li.page_footer__nav_item
                h3.page_footer__nav_title Новинки
            li.page_footer__nav_item
                a.page_footer__nav_link(href="#") 2021
            li.page_footer__nav_item
                a.page_footer__nav_link(href="#") 2020
        ul.page_footer__nav_list
            li.page_footer__nav_item
                h3.page_footer__nav_title О нас
            li.page_footer__nav_item
                a.page_footer__nav_link(href="#") Художники
            li.page_footer__nav_item
                a.page_footer__nav_link(href="#") Менеджеры
section.page_footer__social
    .page_footer__social__wrapper
        ul.page_footer__social_list
            li.page_footer__social_item
                a(href="#" target="_blank")
                    span facebook
            li.page_footer__social_item
                a(href="#" target="_blank")
                    span instagram
            li.page_footer__social_item
                a(href="#" target="_blank")
                    span youtube
        span.page_footer__info-name Ink.House ®
        span.page_footer__info-name All rights reserved
                                  


